@import "tailwindcss";

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Clash Grotesk', sans-serif;
}

@font-face {
    font-family: "ClashGrotesk-Extralight";
    src:
        url("/public/fonts/ClashGrotesk-Extralight.woff2") format("woff2"),
        url("/public/fonts/ClashGrotesk-Extralight.woff") format("woff"),
        url("/public/fonts/ClashGrotesk-Extralight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk-Light";
    src:
        url("/public/fonts/ClashGrotesk-light.woff2") format("woff2"),
        url("/public/fonts/ClashGrotesk-light.woff") format("woff"),
        url("/public/fonts/ClashGrotesk-light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk-Regular";
    src:
        url("/public/fonts/ClashGrotesk-Regular.woff2") format("woff2"),
        url("/public/fonts/ClashGrotesk-Regular.woff") format("woff"),
        url("/public/fonts/ClashGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk-Medium";
    src:
        url("/public/fonts/ClashGrotesk-Medium.woff2") format("woff2"),
        url("/public/fonts/ClashGrotesk-Medium.woff") format("woff"),
        url("/public/fonts/ClashGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk-Semibold";
    src:
        url("/public/fonts/ClashGrotesk-Semibold.woff2") format("woff2"),
        url("/public/fonts/ClashGrotesk-Semibold.woff") format("woff"),
        url("/public/fonts/ClashGrotesk-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk-Bold";
    src:
        url("/public/fonts/ClashGrotesk-Bold.woff2") format("woff2"),
        url("/public/fonts/ClashGrotesk-Bold.woff") format("woff"),
        url("/public/fonts/ClashGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}